@using MT.Models
@model Table
@{

    TempData.Keep();
}


<div class="text-center">
    
        <h2>@Model.tableName</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
              <tr>
              @foreach (string c in Model.columns){
            
              <th scope="col">@c</th>     
              }
            </tr>
              
          </thead>
          <tbody>
            
            @for (int i = 0; i < Model.rowCount; i++)
            {
                <tr>    
                @for (int j = 0; j < Model.columnCount; j++)
                {                              
                    
                    <td>@Model.values[i,j]</td>             
                 
                }
                </tr>         
            }           
            
          </tbody>
          </table>
          </div>    
</div>

 <div class="row mt-3"> 

 
    <form asp-action="TableView" method="get" style="width: auto; margin: 0 5%;">
   
       <button type="submit">Back</button> 

    </form>

</div>